[Unit]
Description=Python Message-Board app

[Service]
User={{ ansible_ssh_user }}
WorkingDirectory={{ app_dir }}
Environment="PATH={{ app_dir }}/env/bin"
ExecStart={{ app_dir }}/bin/python {{ app_dir }}/main.py
Environment=PYTHONUNBUFFERED=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
